*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #F1F1F1;
}
h2.global-h2{
    font-size: 20px;
    font-weight: 500;
    color: #757575;
}
h1.global-h1{
    font-size: 32px;
    font-weight: 500;
    color: #656565;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
}
/* Header section */
.header{
    width: 100%;  
}
.header-main-content{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3), -0px -1px 8px rgba(0,0,0,0.1);
}
.header-image{
    width: 100%;
    position: relative;
}
.header-image img{
    width: 100%;
}
.header-image h1{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}
.header-profile{
    padding: 20px;
    line-height: 30px;
    color: #757575;
}
.address{}
.fa-solid{
    color: #009688;
}
.skills{
    margin-top: 30px;
    line-height: 50px;
}
.skills-range{
    height: 16px;
    background-color: #009688;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.skills-range-one{
    width: 90%;
}
.skills-range-two{
    width: 80%;
}
.skills-range-three{
    width: 75%;
}
.skills-range-four{
    width: 50%;
}
.language{
    margin-top: 30px;
    line-height: 50px;
}
.language-range{
    height: 22px;
    background-color: #009688;
    border-radius: 30px;
}
.language-range-one{
    width: 100%;
}
.language-range-two{
    width: 50%;
}
.language-range-three{
    width: 25%;
}
.section-content{
    
}
.main-section{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3), -0px -1px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    line-height: 30px;
}
.main-section-text{
    margin-top: 50px;
}
.date-color{
    color: #009688;
}
.date-color span{
    background-color: #009688;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.Second-section-margin{
    margin-top: 20px;
}
/* footer */
.footer{
    background-color: #009688;
    color: #fff;
    text-align: center;
    line-height: 40px;
    padding: 15px;
}
.icon:hover{
    color: #AEDED9;
}
.footer p a{
    color: #fff;
}
/* responsive */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* responsive mobile */
@media only screen and (max-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .wrapper{
        display: block;
    }
    .header{
        margin-bottom: 20px;
    }
    }